<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study_fastapis(repo)24.01.02</title>
</head>
<body>
    <nav>
        <ul class="nav">
           <li class="nav-item"><a href="gadgets/buttons">buttons - buttons.html</a></li>
           <li class="nav-item"><a href="/gadgets/cards">cards - cards.html</a></li>
           <li class="nav-item"><a href="/gadgets/colors">colors - colors.html</a></li>
           <li class="nav-item"><a href="/gadgets/containers">containers - containers.html</a></li> 
           <li class="nav-item"><a href="/positionings/forms">forms - forms.html</a></li>
           <li class="nav-item"><a href="/positionings/glrids">glrids - glrids.html</a></li>
           <li class="nav-item"><a href="/positionings/standards">standards - standards.html</a></li>
           <li class="nav-item"><a href="/positionings/tables">tables - tables.html</a></li> 
        </ul>
    </nav>
</body>
</html>
