{% extends "main_template.html" %}

{% block head %}
<title>Head</title>
{% endblock %}

{% block main_container %}
<main class="container">
    <div>
        <h2>formaction tag with method POST</h2>
        <div>
            <h3>link card form without parameters</h3>
            <!-- form 태그를 사용하면 무조건 뒤에 버튼이 있어야한다. -->
            <!-- post는 인터넷으로 통한 중계로 진행하기에 인터넷 통한 연결만 가능하다 -->
            <form action="" method="post">
                <button class="btn btn-primary" formaction="/gadgets/cards">card</button>
                <button class="btn btn-primary" formaction="colors.html">color</button>
            </form>
            <h3>link card form with parameters</h3>
            <!-- form 태그를 사용하면 무조건 뒤에 버튼이 있어야한다. -->
            <form action="" method="">
                <input type="text" name="name" value="myungjunkim" class="form-control">
                <input type="text" name="email" value="sweet.mjkim@gmail.com" class="form-control">
                <button class="btn btn-primary" formaction="/gadgets/cards" formmethod="get">
                    card with method GET
                </button>
                <button class="btn btn-primary" formaction="/gadgets/cards" formmethod="post">
                    card with method POST
                </button>
                <button class="btn btn-primary" formaction="colors.html" formmethod="post">
                    color with method POST
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
<footer>Footer</footer>
{% endblock %}