{% extends "main_template.html" %}

{% block main_container %}
<title>standards</title>
<nav>
    <ul class="nav">
        <li class="nav-item"><a href="/">Home - index.html</a></li>
        <li class="nav-item"><a href="#about">About Us</a></li>
        <li class="nav-item"><a href="/home">Our Clients - standards.html</a></li>
        <li class="nav-item"><a href="#contact">Contact Us</a></li>
    </ul>
</nav>
<nav>nav</nav>
<main>main</main>
{% endblock %}
{% block footer %}
<footer>Footer</footer>
{% endblock %}